

    <!-- Page Content -->
    

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">
         
          <!-- Title -->
          <h1 class="mt-4">{{posts.title}}</h1>

          <!-- Author -->
          <p class="lead">
            by
            {{!-- <button class="btn info"><a href="#"><u>{{posts.user.firstname}}</u></a></button> --}}
            <!-- Button trigger modal -->
<button type="button" class="btn secondary" data-toggle="modal" data-target="#exampleModalCenter">
  <u>{{posts.user.firstname}}</u>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="color:brown;">Geeks Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
       <center> <img class="d-flex mr-3 rounded-circle responsive" src="/uploads/{{posts.user.profilepic}}"style="height: 80px; width: 80px" >
       <br>
       
        <b>{{posts.user.firstname}} {{posts.user.lastname}}</b>
        <br><br>
          <p style="color: grey;font-size: 18px;">{{posts.user.profession}}</p>
         {{posts.user.college}}<br></center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{generatetime posts.date 'dddd DD MMMM , YYYY' }} at {{generatetime posts.date 'kk:mm' }}</p>

          <hr>

           <!-- Preview Image -->
           <div class="card mb-4">
            <div id="carouselExample{{posts.id}}" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    
            {{#each posts.file }}
            {{#if @key}}
            <div class="carousel-item "><img class="card-img-top" src="/uploads/{{this}}" alt="Card image cap"></div>
            
            {{else}}
            <div class="carousel-item active"><img class="card-img-top" src="/uploads/{{this}}" alt="Card image cap"></div>
            
            {{/if}}
            {{/each }}
           
           {{#if posts.ytlink}}
           <div class="carousel-item "><iframe class="card-img-top" height="404" src="{{posts.ytlink}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            {{/if}}
   </div> 
       
  <a class="carousel-control-prev" href="#carouselExample{{posts.id}}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExample{{posts.id}}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  
</div>
         

          <hr>

          <!-- Post Content -->
          <p class="lead">{{posts.body}}</p>

          <hr>
        <div class="card-body">
         <a href="/solution/{{posts.id}}" class="btn btn-primary">view submitted solutions &rarr;</a>
        
        </div> 